<vgr-page>
  <vgr-page-header>
    Start
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quos mollitia esse vel in repellendus eligendi expedita quam
      aspernatur quaerat et ratione facere repudiandae ad, doloribus officiis, totam unde recusandae!
    </vgr-page-block>
    <vgr-page-block>
      <vgr-button>Knapp</vgr-button>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-dropdown></vgr-dropdown>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
