<div id="theme-root" class="theme--sigma">
  <vgr-scroll-to-top></vgr-scroll-to-top>
  <vgr-modal></vgr-modal>
  <vgr-header [userName]="'John Pettersson'"></vgr-header>
  <vgr-sidebar-menu>
    <vgr-menu title="Sigma6">
      <vgr-menu-item link="/start" text="Start"></vgr-menu-item>
      <vgr-menu-item link="/list" text="Lista"></vgr-menu-item>
      <vgr-menu-item link="/card" text="Kort"></vgr-menu-item>
      <vgr-menu-item link="/forms" text="Formulär"></vgr-menu-item>
      <vgr-menu-separator></vgr-menu-separator>
      <vgr-submenu text="Exempel">
        <vgr-menu-item link="/example" text="Exempelsida1"></vgr-menu-item>
      </vgr-submenu>
    </vgr-menu>
  </vgr-sidebar-menu>
  <router-outlet></router-outlet>
</div>
